{  
   "swagger":"2.0",
   "info":{  
      "description":"This is a customer insight API, with 2 endpoints. ping and custspend",
      "version":"1.0.0",
      "title":"Customer Insight"
   },
   "host":"pass.sterling.ng",
   "basePath":"/customerInsight/api/v1",
   "schemes":[  
      "https"
   ],
   "paths":{  
      "/custspend":{  
         "post":{  
            "summary":"Get customer spending details",
            "description":"This returns the amount spent by the account holder on the spend item provided over a given period of time",
            "operationId":"GetCustSpendItem",
            "consumes":[  
               "application/json"
            ],
            "produces":[  
               "application/json"
            ],
            "parameters":[  
               {  
                  "in":"body",
                  "name":"body",
                  "description":"Customer's spend item and account",
                  "required":true,
                  "schema":{  
                     "$ref":"#/definitions/SpendDetail"
                  }
               }
            ],
            "responses":{  
               "200":{  
                  "description":"successful operation",
                  "schema":{  
                     "$ref":"#/definitions/SpendDetailResponse"
                  }
               }
            }
         }
      },
      "/ping":{  
         "get":{  
            "summary":"Check connectivity",
            "description":"",
            "operationId":"ping",
            "produces":[  
               "application/json"
            ],
            "responses":{  
               "200":{  
                  "description":"Ping successful!",
                  "schema":{  
                     "type":"string"
                  }
               }
            }
         }
      }
   },
   "definitions":{  
      "SpendDetail":{  
         "type":"object",
         "required":[  
            "spenditem",
            "nuban"
         ],
         "properties":{ 
            "spenditem":{  
               "type":"string",
               "example":"Uber"
            },
            "nuban":{  
               "type":"string",
               "example":"0011223344"
            }
         }
      },
      "SpendDetailResponse":{  
         "type":"object",
         "properties":{  
            "msg":{  
               "type":"string"
            }
         }
      }
   }
}